################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SecondVersion/FileContentIndex/f404b7b3-ec06-46ed-a231-ad371d726c15.vsidx
